<!-- <app-college></app-college> -->

<div class="row">
    <div class="col-md-6">
        <!-- <div class="card">
            <app-college></app-college>
        </div> -->
        <mat-card class="m-3" style="width: 100%; height: 50%;">
            <h5 style="letter-spacing: 4px; word-spacing: 10px;">COLLEGE ACCOUNTS</h5>
            <app-college></app-college>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card class="m-3" style="width: 100%; height: 50%;">
            <h5 style="letter-spacing: 4px; word-spacing: 10px;">STUDENT ACCOUNTS</h5>
            <app-students></app-students>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col m-5">
        <app-college-list class="m-5"></app-college-list>
    </div>
</div>