<div class="m-3 shadow-sm">
    <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb bg-white p-3">
            <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Test</a></li> -->
            <!-- <li class="breadcrumb-item active">Aptitude</li> -->
          </ol>
      </nav>
  </div>

<div class="container">
    <div class="row">
        <div class="col">
        <!-- <app-college></app-college> -->
            <app-test></app-test>
        </div>
    </div>
    
    <!-- <div class="row">
        <div class="col">
            <app-test></app-test>
        </div>
    </div> -->
</div>