<div class="container m-4">
    <!-- <div class="row"> -->
        <div class="row p-2">
            <div class="col-md-12">
                <app-admin-customized-questions-create></app-admin-customized-questions-create>
            </div>
            <!-- <div class="col-md-6">
                <app-admin-customized-questions-details></app-admin-customized-questions-details>
            </div> -->
        </div>
        <div class="row">
            <app-admin-customized-questions-list></app-admin-customized-questions-list>
        </div>
    <!-- </div> -->
</div>
