<!-- <mat-toolbar color="primary" class="mat-elevation-z6 bg-dark">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
              <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()">
                  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              <span class="logo">Admin Dashboard</span>
              <div *ngIf="!deviceXs">
                <a mat-button>Home</a>
                <a mat-button>Services</a>
                <a mat-button>Projects</a>
                <a mat-button>Sign Up</a>
              </div>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
              <span *ngIf="!deviceXs">Menu</span>
            </button>
          </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <a mat-button>Home</a>
      <a mat-button>Services</a>
      <a mat-button>Projects</a>
      <a mat-button>Sign Up</a>
    </mat-toolbar-row>
</mat-toolbar> -->