.snackbar {
    max-width: 90% !important;
    height: 100px;
    /* margin-left: auto !important; 
    margin-right: auto !important; 
    margin-bottom: 1rem !important; 
    padding: 10px !important;  */
    background-color:#cc2a14;
    color: #f7f0cf;
}